# Gradle
.gradle/
build/
gradle-app.setting
!gradle-wrapper.jar
!gradle-wrapper.properties

# IDE
.idea/
.vscode/
*.iml
*.ipr
*.iws
*~
bin/

# OS
.DS_Store
Thumbs.db
*.tmp
*.log

# Kotlin
*.class
*.jar
